.filterContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.pageTitle {
	color: transparent;
	border: solid black 5px;
	height: 100px;
	width: 400px;
	margin-left: 55vh;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 450px;
}

.filterName {
	width: 150px;
	height: 30px;
	cursor: pointer;
	border-radius: 8px;
}
.filterCreated {
	width: 150px;
	height: 30px;
	cursor: pointer;
	border-radius: 8px;
}

.homeRefreshBtn {
	display: flex;
	justify-content: flex-start;
	margin-top: -150px;
	align-items: center;
	position: fixed;
	border-radius: 8px;
	height: 30px;
}

.homeRefreshBtn:hover {
	background-color: rgba(255, 255, 0, 0.689);
}

.filterType {
	width: 150px;
	height: 30px;
	cursor: pointer;
	border-radius: 8px;
}

.fotohome {
	width: 400px;
	height: 150px;
}

.pokemonCards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 400 px;
	margin-bottom: 30px;
	margin-top: 30px;
	float: left;
	margin-left: 50px;
	margin-right: 60px;
}

.AlphTitle {
	font-weight: bold;
	color: white;
}

.TypeTitle {
	color: white;
}

.orderTitle {
	text-decoration: double underline;
}
