.navBtn {
	width: 250px;
	height: 50px;
	border-radius: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: medium;
	font-weight: bold;
	position: fixed;
	margin-top: -110px;
}

.navBtn:hover {
	background-color: yellow;
}
